small {
  font-size: 12px;
  font-weight: bold;
}
.btn small {
  font-weight: bold;
  letter-spacing: 1px;
}
#artist-img {
  width: 70%;
}

#artist-header {
  background-color: darkgray;
  background-size: cover;
  height: 40%;
}
