body {
  overflow-x: hidden;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
small {
  font-size: 12px;
  font-weight: bold;
}
.btn small {
  font-weight: bold;
  letter-spacing: 1px;
}
#artist-img {
  width: 40%;
}

#artist-header {
  background-color: darkgray;
  height: 60vh;
  max-height: 350px;
  position: relative;
  background-position: center 20%;
  background-size: cover;
  background-repeat: no-repeat;
}

#artist-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(
    /* CAMBIA PER AVERE PIU O MENO TRASPARENZA */ 0,
    0,
    0,
    0.7
  );
  z-index: 0;
}

#artist-header > * {
  position: relative;
  z-index: 1;
}
a p {
  cursor: pointer;
}

#footer-track-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#bottom-navbar form {
  width: 75vw;
  text-align: center;
}

#player {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

#bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
  background: #000000;
}
